* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  font-size: 10vw;
}

body {
  animation: backgroundChange 2s infinite;
}

.brady {
  width: 10px;
  margin: 0 auto;
  transition: 3s ease-in transform;
}

img {
  width: 100%;
}

.brady:hover {
  transform: scale(100);
}

.arrows {
  margin: 0 auto;
  width: 10rem;
}

@keyframes backgroundChange {
  16% {
    background-color: red;
  }
  32% {
    background-color: orange;
  }
  48% {
    background-color: yellow;
  }
  64% {
    background-color: green;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: purple;
  }
}
